## other
__ebooks/
_bibliography/
_chapter/
_gfx/
thesis.pdf
thesis.lol
thesis.synctex
thesis.tps


*.bak
## github
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0
